@model List<proj1.Models.Products>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model.Count > 0)
{

    <table class="table table-striped" width="100%">
        <tr class="table-info">
            <th style="text-align:center;" width="20%"></th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Name"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Price"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Description"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Brand.BrandName"></label>
            </th>
            <th style="text-align:center;">
            </th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="padding:50px;">
                <td>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@Model[i].ProductId">
                        <img src="@Model[i].Image" width="100%" style="margin:auto; display:block;border-radius:5px;border:1px solid #bbb9b9;" alt="Alternate Text" />
                    </a>
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => Model[i].Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => Model[i].Price)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => Model[i].Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => Model[i].Brand.BrandName)
                </td>
                <td style="text-align:center">
                    <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@Model[i].ProductId">
                        <i class="fas fa-trash-alt">Trash</i>
                    </button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        No Item Added To The Shopping Cart
    </div>
}
